<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Hi, this is fastapi with html and postgres!!! </H1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>Data</th>
             </thead>
             <tbody class='field2'>
                
            {%for item in res.data%}
            
            <tr class='field3'>
            <td>{{item._id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.timestamp}}</td>
            </tr>
            {%endfor%}
            <p>{{res}}</p>
</body>
</html>